<div class="row">
  <div class="col-md-4"></div>
  <div id="content" class="col-md-4">
    <div class="well">
      <div class="clock">
        <div class="clock-font">
          <span class="">{{ time.minutes || '00' }}</span>
          <span class="colon" [ngClass]="{'blink' : state.timerOn }">:</span>
          <span class="">{{ time.seconds || '00' }}</span>
          <span class="colon" [ngClass]="{'blink' : state.timerOn }">.</span>
          <span class="">{{ time.millis || '00' }}</span>
        </div>
        <div class="clock-font cloned">
          <span>88</span>
          <span class="colon">:</span>
          <span>88</span>
          <span class="colon">.</span>
          <span>88</span>
        </div>
      </div>
    </div>
    <div id="button-wrapper" class="col-md-12">
      <div (click)="togglePlay()" class="col-xs-8">
        <ng-container *ngIf="state.timerOn; then pause; else play"></ng-container>
        <ng-template #play> <span><i class="fa fa-play"></i>Play</span></ng-template>
        <ng-template #pause> <span><i class="fa fa-pause"></i>Pause</span></ng-template>
      </div>
      <div (click)="addLap()" class="col-xs-2">
        <i class="far fa-clock"></i>
      </div>
      <div (click)="resetTimer()" class="col-xs-2">
        <i class="far fa-trash-alt"></i>
      </div>
    </div>
    <div class="time-white" *ngFor="let lap of state.lapTimes; let i = index">
      <div class="col-xs-8 clock-font">
        <div class="clock">
          <div class="clock-font">
            {{ lap.minutes }}:{{ lap.seconds }}.{{ lap.millis }}
          </div>
          <div class="clock-font cloned">
            88:88.88
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <button (click)="removeLap(i)" class="remove">REMOVE</button>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>